<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginUsuario</servlet-name>
        <servlet-class>Negocio.loginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logginGmail</servlet-name>
        <servlet-class>Negocio.logginGmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarOpenJournal</servlet-name>
        <servlet-class>Negocio.eliminarOpenJournal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>Negocio.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveOpenJournal</servlet-name>
        <servlet-class>Negocio.saveOpenJournal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveUsuario</servlet-name>
        <servlet-class>Negocio.saveUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarUsuario</servlet-name>
        <servlet-class>Negocio.eliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveUrls</servlet-name>
        <servlet-class>Negocio.saveUrls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarHistorial</servlet-name>
        <servlet-class>Negocio.eliminarHistorial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginUsuario</servlet-name>
        <url-pattern>/loginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logginGmail</servlet-name>
        <url-pattern>/logginGmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarOpenJournal</servlet-name>
        <url-pattern>/eliminarOpenJournal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveOpenJournal</servlet-name>
        <url-pattern>/saveOpenJournal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveUsuario</servlet-name>
        <url-pattern>/saveUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarUsuario</servlet-name>
        <url-pattern>/eliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveUrls</servlet-name>
        <url-pattern>/saveUrls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarHistorial</servlet-name>
        <url-pattern>/eliminarHistorial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
