<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginUsuario</servlet-name>
        <servlet-class>Negocio.loginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>negocioHistorial</servlet-name>
        <servlet-class>Negocio.negocioHistorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>negocioUsuario</servlet-name>
        <servlet-class>Negocio.negocioUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logginGmail</servlet-name>
        <servlet-class>Negocio.logginGmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historial</servlet-name>
        <servlet-class>Negocio.historial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crudOpenJournal</servlet-name>
        <servlet-class>Negocio.crudOpenJournal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crudAdministrado</servlet-name>
        <servlet-class>Negocio.crudAdministrado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginUsuario</servlet-name>
        <url-pattern>/loginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>negocioHistorial</servlet-name>
        <url-pattern>/negocioHistorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>negocioUsuario</servlet-name>
        <url-pattern>/negocioUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logginGmail</servlet-name>
        <url-pattern>/logginGmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historial</servlet-name>
        <url-pattern>/historial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crudOpenJournal</servlet-name>
        <url-pattern>/crudOpenJournal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crudAdministrado</servlet-name>
        <url-pattern>/crudAdministrado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
